
body {
  background-color: transparent;
}

body,
input,
select,
button,
option,
label {
  cursor: url("/assets/img/curseur.png"), auto !important;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none; 
  user-select:none;
}

img {
  -webkit-user-drag: none;
}

.btn {
  border: none;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  background-size: 100% !important;
  height: 100vh;
}

.wrd-select-allowed {
  -moz-user-select:text;
  -webkit-user-select:text;
  -ms-user-select:text;
  -khtml-user-select:text; 
  user-select:text;
}

.wrd-container {
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.wrd-form,
.wrd-inline-input {
  background-color: #29573A !important;
  color: white;
  font-family: 'Exo 2', sans-serif;
  border-radius: 0px;
  border: none;
}

.wrd-form {
  text-align: center;
  text-align-last: center;
}

.wrd-inline-input {
  flex: 1 auto;
  padding: 0 2px;
  height: 24px;
}

.wrd-inline-input:hover,
.wrd-inline-input:focus {
  outline: none;
}

.wrd-form:hover,
.wrd-form:focus,
.wrd-inline-input:hover,
.wrd-inline-input:focus {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #81C3A3 !important;
  color: #fff;
}

button,
label,
.wrd-form:hover,
.wrd-form:focus {
  outline: 0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.wrd-form::-webkit-input-placeholder,
.wrd-form::placeholder {
  color: #bdbdbd !important;
}

.wrd-form:hover::-webkit-input-placeholder,
.wrd-form:hover::placeholder,
.wrd-form:focus::-webkit-input-placeholder,
.wrd-form:focus::placeholder {
  color: #fff !important;
}

.wrd-form option {
  background-color: #29573A;
  text-align: center;
  text-align-last: center;
}

.server-name {
  text-align: center;
  text-transform: uppercase;
  background-color: #0A2719;
  color: white;
  font-size: 1.5rem;
  font-family: 'Exo 2', sans-serif;
  height: 36px;
}

.wrd-flag {
  width: 27px;
  height: 18px;
  margin-top: 4px;
}

.wrd-title {
  background-color: #29573A;
  text-align: center;
  color: #94C3A3;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  border: 1px solid #3d6f50;
}

.wrd-status {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 8px;
  background: red;
}

.wrd-team {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 27px;
  width: 27px;
}

.wrd-team-blue {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 8px;
  background: #1c6abb;
  border: 1px solid #5a5a5a;
}

.wrd-team-red {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 8px;
  background: #cc2727;
  border: 1px solid #5a5a5a;
}

.wrd-team-blue:hover, .wrd-team-red:hover {
  border: 1px solid #bebebe;
}

.wrd-connected {
  background: green;
}

.wrd-map-name {
  font-family: 'Exo 2', sans-serif;
  color: white;
  font-size: 0.75em;
  margin: auto 0;
}

.wrd-text, .wrd-text-2 {
  font-family: 'Exo 2', sans-serif;
  color: white;
  margin: auto 0;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrd-index {
  font-family: 'Exo 2', sans-serif;
  color: white;
  margin: auto 0;
  width: 22px;
  text-align: right;
}

.wrd-icon {
  margin: auto 0;
  width: 46px;
  height: 23px;
}

.wrd-icon-2 {
  width: 23px;
  height: 23px;
  padding-bottom:2px;
}

.wrd-icon-3 {
  width: 40x;
  height: 20px;
}

.wrd-icon-4 {
  width: 31px;
  height: 31px;
  text-align: center;
}

.wrd-icon-4 img {
  width: 23px;
  height: 23px;
  margin: 4px;
}

.wrd-icon-4:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #81C3A3;
}

.wrd-map-icon {
  margin: auto 0;
  width: 36px;
  height: 18px;
}

.wrd-nation-icon {
  margin: auto 0;
  width: 40px;
  height: 20px;
}

.wrd-type-icon {
  margin: auto 0;
  width: 27px;
  height: 27px;
}

.wrd-button-close {
  color: #fff;
}

.wrd-label {
  color: #94C3A3;
  font-family: 'Exo 2', sans-serif;
}

.wrd-empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.form-select {
  padding-left: 34px;
}

.wrd-auto-rotation-list {
  height: 275px;
  overflow-y: scroll;
}

.wrd-auto-rotation-list .active {
  background-color: #3e987360 !important;
}

.wrd-player-list {
  border: 1px solid #2a4638;
  height: 275px;
  overflow-y: scroll;
  position: relative;
}

.wrd-select-arrow {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

.wrd-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0.5vw rgb(41, 87, 58);
	background-color: #F5F5F5;
}

.wrd-scroll::-webkit-scrollbar
{
	width: 0.5vw;
	background-color: #F5F5F5;
}

.wrd-scroll::-webkit-scrollbar-thumb
{
	background-color: #346546;
	border: 1px solid #346546;
}

.dropdown-toggle {
  text-align: left;
  background-color: #29573A;
  border: none;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.dropdown-toggle:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #81C3A3;
}

.dropdown-toggle:focus {
  background-color: #81C3A3;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  /*background-color: #29573A;*/
  background-color: #346546;
  border: none;
  max-height: 380px;
}

.dropdown-item {
  color: white;
  padding-left: 8px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #81C3A3;
  color: white;
}

/* .dropdown-menu li:nth-child(even) {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
} */

.wrd-button, .wrd-button-s {
  background-color: #29573A;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 0.8rem;
  border-radius: 0px;
}

.wrd-button:hover, .wrd-button-s:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #81C3A3;
}

.btn-check:checked + .wrd-button {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #81C3A3;
}

.wrd-button-s {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.wrd-border {
  border:1px solid #20482f;
}

.wrd-border-bottom {
  border-bottom:1px solid #212529;
}

.wrd-player-list > div:hover:not(.wrd-empty) {
  box-shadow: 0px 0px 4px 2px #20482f inset;
}

.wrd-player-list .wrd-border-bottom:last-child {
  border-bottom: none;
}

.wrd-auto-rotation-list .d-flex {
  height: 28px;
}

.wrd-modal-container {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrd-modal-mask {
  position: absolute;
  top: 0; 
  left: 0;
  width:100%;
  height:100%;
  background: #000;
  opacity: 0.85;
  z-index: 100;
}

.wrd-deck {
  resize: none;
  margin: 10px;
}

.wrd-modal-body {
  flex: auto;
  z-index: 999;
  background: #f9f9f9;
}

.wrd-modal-button-group {
  z-index: 999;
  text-align: right;
}

.wrd-player-status {
  width: 24px;
  text-align: center;
}

.wrd-player-status-waiting {
  background: #636e72;
}

.wrd-player-status-loading {
  background: #acae14;
}

.wrd-player-status-ready {
  background: #4b9a23;
}

.wrd-player-status-deployment {
  background: #136b7f;
}

.wrd-player-status-battle {
  background: #e17055;
}

.wrd-player-status-end {
  background: #d63031;
}

.wrd-player-status-unknown {
  background: #2d3436;
}

.wrd-volumn {
  width: 18px;
  height: 18px;
  filter: invert(100%);
  position: absolute;
  right: 6px;
  top: 8px;
  background-size: 18px;
  background-repeat: no-repeat;
}

.wrd-rotation-item:hover {
  background: #3e987315;
}

.wrd-rotation-item .wrd-rotation-delete {
  display: none;
}

.wrd-rotation-item:hover .wrd-rotation-delete {
  display: flex;
  align-items: center;
}

.wrd-reason {
  max-width: 400px;
}

.wrd-refresh {
  filter: invert(100%);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  margin: 5px 0;
}

.wrd-refreshing {
  animation: 1s refresh 1;
}

.wrd-motd-text {
  resize:none;
  width:100%;
  height:71px;
  font-size:14px;
}

.wrd-motd-text::placeholder {
  text-align: left;
}

.wrd-message-panel {
  position:relative;
  flex: 1;
  min-height: 0px;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  z-index: 101;
}

.wrd-message-mask {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  opacity: 0.85;
}

.wrd-message-btn-group {
  position: fixed; 
  bottom: 1rem; 
  right: 2rem; 
  text-align:center; 
  display: flex;
  z-index: 102;
}

.wrd-fullscreen-icon, .wrd-fullscreen-exit-icon {
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
}

.wrd-fullscreen-icon {
  background-image: url(/assets/img/fullscreen.png);
}

.wrd-fullscreen-exit-icon {
  background-image: url(/assets/img/fullscreen-exit.png);
  display: none;
}

.wrd-message-full {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  top: 0px;
  left: 0px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  position: fixed;
}

.wrd-message-full .wrd-message-mask {
  display: block;
}

.wrd-message-full .wrd-fullscreen-icon {
  display: none;
}

.wrd-message-full .wrd-fullscreen-exit-icon {
  display: block;
}

.deck-preview {
  position: fixed;
  top: 0; 
  left: 0;
  width:100%;
  height:100%;
  z-index: 1000;
  color: #E3E3E3;
}

.deck-preview .wrd-modal-body {
  width:81vw; 
  flex: none;
  padding:10px;
  background:#487157
}

.deck-type {
  width: 5vw; 
  height: 3.8vw;
  line-height: 3.8vw;
  text-align: center;
}

.deck-row {
  display: flex;;
}

.deck-preview hr {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background: #7da17b;
}

.deck-units {
  display: flex;
  font-size: 13px;
}

.deck-unit {
  width: 7.8vw;
  margin-left: 0.5vw;
  padding: 5px 5px 0;
  border: 1px solid #658d54;
  display: flex;
  flex-direction: column;
  position: relative;
}

.deck-unit-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.deck-unit :last-child {
  display: flex;
}

.deck-unit-rank {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.deck-unit-rank-arrow {
  border: solid #FFCD71;
  border-width: 0 2px 2px 0;
  padding: 4px;
  transform: rotate(-135deg);
  display: block;
}

.deck-unit-rank-arrow:not(:first-child) {
  margin-top: -6px;
}

.wrd-modal-1 {
  position: absolute;
  top: 0; 
  left: 0;
  width:100%;
  height:100%;
  z-index: 1000;
}

.import-dialog {
  position: fixed;
  top: 0; 
  left: 0;
  width:100%;
  height:100%;
  z-index: 1000;
}

.deck-preview .wrd-modal-container, .import-dialog .wrd-modal-container {
  justify-content: center;
  align-items: center;
}

.import-dialog .wrd-modal-body {
  width:60vw; 
  height: 40vh; 
  flex: none;
  padding:10px;
  background:#487157
}

.import-dialog textarea {
  resize:none;
  width:100%;
  height:100%;
}

.import-dialog .wrd-modal-button-group {
  width:60vw;
  background: #487157
}

.deck-preview .wrd-modal-button-group {
  width:81vw;
  background: #487157
}

@keyframes refresh {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
      transition-duration: 0.6s;
      transition: 0.6s;
  }
}
